### 사용 데이터셋

In [1]:
import pandas as pd

df=pd.read_csv('BankChurners.csv')

In [3]:
df.isnull().sum() # No missing values

CLIENTNUM                                                                                                                             0
Attrition_Flag                                                                                                                        0
Customer_Age                                                                                                                          0
Gender                                                                                                                                0
Dependent_count                                                                                                                       0
Education_Level                                                                                                                       0
Marital_Status                                                                                                                        0
Income_Category                                                                                                                       0
Card_Category                                                                                                                         0
Months_on_book                                                                                                                        0
Total_Relationship_Count                                                                                                              0
Months_Inactive_12_mon                                                                                                                0
Contacts_Count_12_mon                                                                                                                 0
Credit_Limit                                                                                                                          0
Total_Revolving_Bal                                                                                                                   0
Avg_Open_To_Buy                                                                                                                       0
Total_Amt_Chng_Q4_Q1                                                                                                                  0
Total_Trans_Amt                                                                                                                       0
Total_Trans_Ct                                                                                                                        0
Total_Ct_Chng_Q4_Q1                                                                                                                   0
Avg_Utilization_Ratio                                                                                                                 0
Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1    0
Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2    0
dtype: int64

### categorical variable 에 대하여 one hot encoding

In [5]:
# one hot encoding for if dtype is object
df=pd.get_dummies(df,drop_first=True)

In [6]:
df

,CLIENTNUM,Customer_Age,Dependent_count,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,...,Marital_Status_Single,Marital_Status_Unknown,Income_Category_$40K - $60K,Income_Category_$60K - $80K,Income_Category_$80K - $120K,Income_Category_Less than $40K,Income_Category_Unknown,Card_Category_Gold,Card_Category_Platinum,Card_Category_Silver
0,768805383,45,3,39,5,1,3,12691.0,777,11914.0,...,0,0,0,1,0,0,0,0,0,0
1,818770008,49,5,44,6,1,2,8256.0,864,7392.0,...,1,0,0,0,0,1,0,0,0,0
2,713982108,51,3,36,4,1,0,3418.0,0,3418.0,...,0,0,0,0,1,0,0,0,0,0
3,769911858,40,4,34,3,4,1,3313.0,2517,796.0,...,0,1,0,0,0,1,0,0,0,0
4,709106358,40,3,21,5,1,0,4716.0,0,4716.0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,772366833,50,2,40,3,2,3,4003.0,1851,2152.0,...,1,0,1,0,0,0,0,0,0,0
10123,710638233,41,2,25,4,2,3,4277.0,2186,2091.0,...,0,0,1,0,0,0,0,0,0,0
10124,716506083,44,1,36,5,3,4,5409.0,0,5409.0,...,0,0,0,0,0,1,0,0,0,0
10125,717406983,30,2,36,4,3,3,5281.0,0,5281.0,...,0,1,1,0,0,0,0,0,0,0
10126,714337233,43,2,25,6,2,4,10388.0,1961,8427.0,...,0,0,0,0,0,1,0,0,0,1

### 첫 번째 column, 마지막 2개의 column 은 필요없으니 drop

In [7]:
df.drop(['CLIENTNUM'],axis=1,inplace=True)

In [9]:
df.drop(['Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1'],axis=1,inplace=True)
df.drop(['Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2'],axis=1,inplace=True)

In [11]:
df['Attrition_Flag_Existing Customer']

0        1
1        1
2        1
3        1
4        1
        ..
10122    1
10123    0
10124    0
10125    0
10126    0
Name: Attrition_Flag_Existing Customer, Length: 10127, dtype: uint8

### 1. Random Forest Classification

In [14]:
## random forest classifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

X=df.drop(['Attrition_Flag_Existing Customer'],axis=1, inplace=False)
y=df['Attrition_Flag_Existing Customer']

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

rf=RandomForestClassifier(n_estimators=100,random_state=42)
rf.fit(X_train,y_train)

y_pred=rf.predict(X_test)

rfacc=accuracy_score(y_test,y_pred) # 0.95

# f1 score
from sklearn.metrics import f1_score
rff1=f1_score(y_test,y_pred) # 0.97

print("random forest accruacy: {}, random forest f1 score:{}".format(rfacc,rff1))

random forest accruacy: 0.9536031589338598, random forest f1 score:0.9727694090382388

### 2. XGBoost

In [15]:
!pip install xgboost

In [ ]:
import xgboost
from xgboost import XGBClassifier

xgb=XGBClassifier(n_estimators=100,random_state=42)
xgb.fit(X_train,y_train)

y_pred=xgb.predict(X_test)

xgbacc=accuracy_score(y_test,y_pred) # 0.95

# f1 score
from sklearn.metrics import f1_score

xgbf1=f1_score(y_test,y_pred) # 0.97

print("xgboost accruacy: {}, xgboost f1 score:{}".format(xgbacc,xgbf1))